@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --color-primary: #6582fd;
  --color-primary-soft: #c0ccfe;

  --color-text-primary: #000000;
  --color-text-secondary: #333333;
  --color-text-muted: rgba(0, 0, 0, 0.85);

  --color-white: #ffffff;

  --font-title-size: 1.5rem;
  --font-subtitle-size: 1rem;

  --font-weight-regular: 400;
  --font-weight-bold: 600;

  --spacing-xs: 0.4rem;
  --spacing-sm: 0.5rem;

  --transition-fast: 0.3s ease;
  --highlight-height: 0.6em;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fafafa;
  font-family: "Roboto", sans-serif;
  font: 1rem;
  padding: 0 20px;
}

::selection {
  background-color: #6583FE;
  color: #fff; 
}
