@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
	--mainColor: #846AFF;
	--secondaryColor: #a49ad4;

	--dark-10: #121214;
	--dark-20: #7C7C8A;
	--dark-30: #EAEAEA;
	--dark-40: #EEEEFF;
	--dark-50: #F8F8FF;
	--dark-60: #FFFFFF;
}

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Roboto", sans-serif;
	color: var(--dark-10) !important;
}

.header  {
	background-color: var(--dark-50);
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 70vh;
	padding-bottom: 2%;
}

.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	width: 65%;
}

.header__content {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 50%;
}

.header__content span {
	color: var(--mainColor);
}

.header__title {
	font-size: 40px;
}

.header__description {
	font-size: 24px;
}

.btn {
	border: none;
	background-color: var(--mainColor);
	color: var(--dark-60);
	border-radius: 10px;
	width: 234px;
	height: 49px;
	outline-style: solid;
	border: 1px solid var(--dark-60);
}

.btn:hover, .btn:focus {
	background-color: var(--secondaryColor);
	cursor: pointer;
}

.btn--content, .formulario__submit{
	font-weight: 600;
	text-transform: uppercase;
	font-size: 18px;
}

.header__image {
	width: 50%;
	padding: 10px 0;
}

/* Section */
.mainSection {
	display: flex;
	justify-content: center;
	min-height: 50vh;
	padding-bottom: 2%;
}

.mainSection__container {
	width: 65%;
}

.mainSection__container h2 {
	padding: 20px 0;
	font-size: 26px;
	font-weight: 600;
}

.mainSection__cards {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: 10px;
}

.mainSection__cards-card {
	display: flex;
	flex-direction: column;
	width: 384px;
	min-height: 300px;
	background-color: var(--dark-60);
	border: 1px solid var(--dark-30);
}

.mainSection__cards-card .mainSection__cards-card-title {
	padding: 15px 20px;
}

.mainSection__cards-card .mainSection__cards-card-description {
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}

/* Forms */
.container-forms {
	background-color: #ccc6e7;
	min-height: 50vh;
	padding: 2% 0;
}

.container-forms__title {
	text-align: center;
	color: var(--dark-60);
	font-size: 26px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.formulario {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	width: 50%;
	text-align: center;
}

.formulario__input,
.formulario__textarea {
	font-size: 18px;
	width: 93%;
	padding: 15px 0px 15px 10px;
	border-radius: 4px;
	margin: 5px;
}


@media only screen and (max-width: 1500px) {
	.header__container {
		flex-direction: row;
		width: 75%;
	}

	.mainSection__container {
		width: 75%;
	}
	.mainSection__cards-card {
		width: 30%;
	}
	
}

@media only screen and (max-width: 1000px) {
	.header__container {
		width: 85%;
	}

	.header__content {
		width: 100%;
	}

	.header__image {
		display: none;
	}

	.mainSection__container {
		width: 85%;
	}

	.mainSection__cards {
		justify-content: center; 
	}

	.mainSection__cards-card {
		width: calc(90% - 10px); 
	}
}
